*
!*/
!.gitignore

# Actions
!/.github/workflows/deploy.yml

# Project Files
!/package.json
!/package-lock.json
!/tsconfig.json

!/webpack.config.js
!/jest.config.js

# Misc
!/LICENSE.txt

# Dist
!/dist/index.html
!/dist/style.css

# Code
!/src/**/*.ts
!/test/**/*.ts
